{% comment %} #ft_transcendence/services/game/pong/templates/pong/game.html {% endcomment %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyberpunk Retro Ping Pong</title>
    <link rel="stylesheet" href="{% static 'pong/css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
</head>
<body>
    <div id="score">00 - 00</div>
    <div id="instructions">P1: W/S | P2: ↑/↓</div>
    <button id="startButton">Start Game</button>
    <script src="{% static 'pong/js/game.js' %}"></script>
</body>
</html>